@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --background: #003e45;
    --blue: #279EFF;
    --cyan: #40F8FF;
    --green: #D5FFD0;
    --gold: #8d856b;
}
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .1s linear;
}
html{
    font-family: 'Nunito' , sans-serif;
    overflow-x:hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    background-color: var(--background);
}
header{
    position: fixed;
    width: 90vw;
    top: 0;
    height: 6rem;
    margin-left: 5vw;
    z-index: 1000;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header .logo{
    text-transform: uppercase;
    font-size: 2.2rem;
    color: var(--gold);
    font-weight: bolder;
}
header .navbar{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .navbar a {
    margin: 1rem;
    font-size: 1.6rem;
    color: var(--background);
}
header .navbar a:hover{
    color: var(--gold);
    border-bottom: .1rem solid var(--gold);
    padding-bottom: 0.5rem;
}
.btn {
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    outline: none;
    overflow: hidden;
    border-radius: 20px;
    border: none;
    background-color: var(--background)
}
.btn:hover {
    border-radius: 10px;
    padding-right: 24px;
    padding-left:8px;
}
.btn:hover:after {
    opacity: 1;
    right: 10px;
}
.btn:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}
.css-button-fully-rounded--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #2c0b8e;
    background: #2c0b8e;
}
.css-button-fully-rounded--blue:hover {
    background: #fff;
    color: #2c0b8e
}
.carousel{
    margin-top: 8rem;
    overflow: hidden;
    display: flex;
    height: 55vh;
    width: 94vw;
    margin-left: 3vw;
    border-radius: 10px;
}
.carousel .swiper-slide img{
    border-radius: 10px;
    height: 55vh;
    width: 94vw;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}
.carousel .swiper-slide .desk{
    display: block;
}
.carousel .swiper-slide .mob{
    display: none;
}

.constant{
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    z-index: 1000;
}
.constant .whatsapp-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    width: 70px;
    height: 70px;
}
.festive{
    margin-left: 2.5vw;
    border-radius: 10px;
    width: 94vw;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
}
.festive .heading{
    margin-top: 3rem;
    font-size: 4rem;
    border-bottom: 1px solid;
    color: var(--gold);
}
.festive .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
}
.festive .box-container .box{
    flex-grow: 1;
    min-width: 20vw;
    width: 40rem;
    max-width: 40rem;
    padding: 2.5rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.festive .box-container .box .image-container{
    display: flex;
    flex-direction: column;
}
.festive .box-container .box .image-container .info{
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    height: 5rem;
    align-items: center;
}
.festive .box-container .box .image-container .info div{
    margin-top: 1.5rem;
    width: 50%;
    font-size: 1.8rem;
}
.festive .box-container .box .image{
    height: 40rem;
    margin-top: 5rem;
}
.festive .box-container .box .image img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.festive .box-container .box h3{
    font-size: 2.5rem;
    color: var(--background);
}
.festive .box-container .box span{
    font-size: 2rem;
    margin-top: .5rem;
    font-style: italic;
}
.css-button-fully-rounded--black {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: var(--background);
  }
  .css-button-fully-rounded--black:hover {
    background: #fff;
    color: #212529
  }
.corporategifting{
    margin-left: 2.5vw;
    border-radius: 10px;
    width: 94vw;
    height: 20vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
}
.corporategifting .heading{
    margin-top: 3rem;
    font-size: 4rem;
    border-bottom: 1px solid;
    color: var(--gold);
}
.birthanni{
    margin-left: 2.5vw;
    border-radius: 10px;
    width: 94vw;
    height: 20vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
}
.birthanni .heading{
    margin-top: 3rem;
    font-size: 4rem;
    border-bottom: 1px solid;
    color: var(--gold);
}
.newborn{
    margin-left: 2.5vw;
    border-radius: 10px;
    width: 94vw;
    height: 20vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
}
.newborn .heading{
    margin-top: 3rem;
    font-size: 4rem;
    border-bottom: 1px solid;
    color: var(--gold);
}
.buildyourown{
    margin-left: 2.5vw;
    border-radius: 10px;
    width: 94vw;
    height: 75vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
}
.buildyourown .heading{
    margin-top: 3rem;
    font-size: 4rem;
    border-bottom: 1px solid;
    color: var(--gold);
}
.buildyourown img{
    width: 90vw;
    margin-top: 2rem;
    height: 55vh;
    border: 1px solid black;
    border-radius: 10px;
}
header .icons i{
    display: none;
}
.aboutus{
    margin-left: 2.5vw;
    border-radius: 10px;
    width: 94vw;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.aboutus .heading{
    margin-top: 3rem;
    font-size: 4rem;
    border-bottom: 1px solid;
    color: var(--gold);
}
.aboutus .box-container {
    margin-top: 5rem;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 90vw;
}
.aboutus .box-container .mob{
    display: none;
}
.aboutus .box-container img{
    width: 90vw;
    border-radius: 10px;
}
.contact-us{
    margin-left: 2.5vw;
    border-radius: 10px;
    width: 94vw;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
.contact-us .heading{
    margin-top: 3rem;
    font-size: 4rem;
    border-bottom: 1px solid;
    color: var(--gold);
    margin-bottom: 1.5rem;
}
.contact-us .details {
    display: flex;
    margin-bottom: 2rem;
}
.contact-us .top{
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.contact-us .top img{
    width: 40vw;
    border-radius: 10px;
}
.contact-us .bottom{
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.contact-us .bottom img{
    width: 40vw;
    border-radius: 10px;
}
.social-buttons{
    width: 94vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.social-buttons .insta blockquote{
    border-radius: 20px;
}
.social a span{
    font-size: 2rem;
}
.social{
    width: 90vw;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.css-button-shadow-border--red {
    width: 200px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #d90429;
  }
  .css-button-shadow-border--red:hover {
    background-color: #ef233c;
  }
  .css-button-shadow-border--red:active {
    top: 2px;
  }
  .css-button-shadow-border--black {
    width: 200px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #212529;
  }
  .css-button-shadow-border--black:hover {
    background-color: #343a40;
  }
  .css-button-shadow-border--black:active {
    top: 2px;
  }
  .css-button-shadow-border-sliding--green {
    width: 200px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #57cc99;
   z-index: 1;
  }
  .css-button-shadow-border-sliding--green:hover:after {
    width: 100%;
    left: 0;
  }
  .css-button-shadow-border-sliding--green:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #80ed99;
    right: 0;
  }
  .css-button-shadow-border-sliding--green:active {
    top: 2px;
  }
  .css-button-shadow-border-sliding--sky {
    width: 200px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #4433ff;
   z-index: 1;
  }
  .css-button-shadow-border-sliding--sky:hover:after {
    width: 100%;
    left: 0;
  }
  .css-button-shadow-border-sliding--sky:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #3a86ff;
    right: 0;
  }
  .css-button-shadow-border-sliding--sky:active {
    top: 2px;
  }
@media (max-width: 991px){
    html{
        font-size: 50%;
    }
}
@media (max-width: 768px){
    header{
        height: 6rem;
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }
    header .logo{
        position: absolute;
        left: 18%;
        font-size: 2.2rem;
    }
    header .icons{
        position: absolute;
        left: 1rem;
    }
    header .icons #menu-bars{
        display: inline-block;
        font-size: 2.5rem;
    }
    header .contact{
        display: inline-block;
        font-size: .5rem;
        position: absolute;
        right: 1rem;
    }
    header .constant .btn{
        width: 70px;
    }
    header .navbar{
        flex-direction: column;
        width: 70vw;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        top: 6rem;
        left:0;
        right: 100%;
        background-color: #eee;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
    }
    header .navbar.active{
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    }
    header .navbar a{
        display: block;
        width: 100%;
        font-size: 2rem;
        padding: 1.5rem;
        margin: 1rem;
        border-bottom: 1px solid var(--gold);
        background-color: #eee;
    }
    .carousel{
        height: 80vh;
    }
    .carousel .swiper-slide img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .carousel .swiper-slide .desk{
        display: none;
    }
    .carousel .swiper-slide .mob{
        display: inline-block;
    }
    .constant .whatsapp-container{
        position: fixed;
        width: 40px;
        height: 40px;
        right: 3rem;
        bottom: 3rem;
    }
    .constant .whatsapp-container img{
        content: url(./images/whatsapp-mob.svg);
    }
    .festive{
        margin-top: -5rem;
    }
    .festive .box-container .box{
        margin-top: -5rem;
    }
    .festive .box-container .box .image-container .info{
        margin-top: 1rem;
    }
    .festive .box-container .box .image-container .info div{
        text-align: center;
        vertical-align: middle;
        padding-top: 1rem;
    }
    .festive .box-container .box h3{
        margin-top: 1.5rem;
    }
    .carousel  .swiper-pagination{
        position: absolute;
        top: 1rem !important;
    }
    .aboutus .box-container .mob{
        display: block;
    }
    .aboutus .box-container .desk{
        display: none;
    }
    .contact-us .details {
        flex-direction: column;
    }
    .contact-us .details .top img ,
    .contact-us .details .bottom img{
        width: 85vw;
    }
    .contact-us .social-buttons{
        flex-direction: column;
    }
    .contact-us .social-buttons .insta{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vw;
    }
    .contact-us .social{
        flex-direction: row;
        flex-wrap: wrap;
        height: 15rem;
        margin-bottom: 1rem;
    }
    .css-button-shadow-border--red ,
    .css-button-shadow-border--black,
    .css-button-shadow-border-sliding--green ,
    .css-button-shadow-border-sliding--sky {
        width: 40vw;
    }
     .social a span{
        font-size: 2rem;
    }
}